
.btn-heading-logout{
    text-decoration: none;
    width: 13vw;
    height: 3.3vh;
    background: #20399f;
    border-radius: 10px;
    font-weight: 500;
    font-size: 2.3vw;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-top: 3vw;
    color: #fffad7;
    margin-left:45vw;
}
.btn-create-note{
    text-decoration: none;
    border: none;
    border-radius: 50px;
    width: 8vmin;
    padding:1vw;
  height:7.8vmin;
  font-weight: 500;
  font-size: 2.8vw;
  cursor: pointer;
  background-color:#20399F;
  margin-left:3vw;
}
.div-my-notes{
    width: 38vw;
    height: 6.7vh;
    background: #20399f;
    border-radius: 0 50px 50px 0;
    font-weight: 500;
    font-size: 2.8vw;
    border: none;
    color: #fffad7;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.div-my-notes p{
    margin:0 0 0 2.5vw;
}
.div-btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:3.5vh;
}


.notes-container{
    margin:3vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
align-content: center;
align-items: center;
justify-content: center;
}
.search{
    display:flex;
    width:35vw;
    height:2.5vh;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding:.5vmin;
    border: 3px solid #A3CDD9;
    margin-left: 2vw;
}
.search input{ 
  border:none;
    background-color: transparent;
    margin-left: 2vw;
    width:40vw;
    font-size: 2.5vw;
    color:#20399F
}

.search input:focus{
    outline:none;

}
