* {
  font-family: "Dosis", sans-serif;
}
.links {
  text-decoration: none;
  font-weight: 400;
  color: #20399f;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: contain;
  background-image: url(../../assets/background.png);
  background-repeat: no-repeat;
}
.header {
  background-color: #fffad7;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.logotype {
  width: auto;
  height: 10vmin;
}
.form-title {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
.title {
  font-weight: 400;
  font-size: 5.3vw;
  margin: 0;
}
.slogan {
  font-weight: 300;
  font-size: 3vw;
}
.that-span {
  color: #20399f;
  font-weight: 500;
}
.form-content {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: rgba(163, 205, 217, 0.3);
  border-radius: 13px;
  padding: 4vw;
}
.form-content input {
  width: 40vw;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid #20399f;
  font-size: 2.5vw;
}
.form-content h4 {
  align-self: flex-start;
  margin: 2.5vw 4.9vw  ;
  font-weight: 300;
  font-size: 2.7vw;
}

.line-form {
  height: auto;
  width: 33vh;
}
.social-buttons {
  width: 100%;
  display: flex;
  justify-content: center;

}
.btn-register {
  width: 30vw;
  height: 3.3vh;
  background: #20399f;
  border-radius: 10px;
  font-weight: 500;
  font-size: 2.3vw;
  border: none;
  cursor: pointer;
  align-items: center;
  color: #fffad7;
  margin-top: 3vw;
}

.btn-google {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 30vw;
  height: 3.3vh;
  font-size: 2.3vw;
  background: #f44336;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fffad7;
  margin-top: 3vw;
}
.google-logo {
  width: 2vw;
  margin-right: 0.8vw;
}
.link-to {
  font-weight: 300;
  font-size: 3vw;

}
